@font-face {
  font-family: Lexend;
  src: url(Lexend-VariableFont_wght.ttf);
}

*:not(i),
*::before:not(i),
*::after:not(i) {
  font-family: Lexend;
}

body {
  background: #f5f4f0;
}

#main {
  margin: 0 auto;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding-bottom: 60px;
  background: #f5f4f0;
}

#main > nav {
  max-width: 28rem;
  height: 60px;
  background: white;
  justify-content: space-evenly;
}

#main > nav > a {
  color: black;
  text-decoration: none;
}

#main > nav > a.active {
  font-weight: 900;
}

#main > nav i {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#main > nav span {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

#main > header {
  min-height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  background: #f5f4f0;
}

.logo {
  width: 50px;
  aspect-ratio: 1;
}

#logoWrapper {
  gap: 10px;
  height: 60px;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}

.gap-5 {
  gap: 1.25rem;
}

.brandImage {
  aspect-ratio: 4/3;
  width: 110px;
  object-fit: contain;
}
