:root {
    --bg: #E0E0E0;
    
    --icon-color: #487eb0;
    --bg-icon-color: #f1f1f1;
    --shadow-icon-color: #00000030;
    
    --hover-icon: #f1f1f1;
    --bg-before: #487eb0;
  }


.row {display: -webkit-box;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.yourPoints {margin-bottom: 2em;text-align: center;}
.yourPoints h2 {color: #000;font-size: 2.5em;}
.yourPoints h1 {color: #000;font-size: 3em;font-weight: 700;}
.yourPoints small {display: block;font-size: .5em;}
#pageHight {min-height: calc(100vh - 505px);}
.donut_singleContainer {background-color: #fff;border: 1px solid #eff2f6;border-radius: 40px 40px 40px 0;margin: 15px 0;padding: 15px;}
.donut_single {position: relative;z-index: 1;}
.prog {left: 50%;max-width: 50px;position: absolute;text-align: center;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 100%;z-index: 2;}
.donut_singleWrapper {position: relative;}
.checkMark path {-webkit-animation: draw 0.5s linear forwards 1s;-ms-animation: draw 0.5s linear forwards 1s;animation: draw 0.5s linear forwards 1s;fill: none;stroke: #529c29;stroke-miterlimit: 10;stroke-width: 40px;stroke-dasharray: 500;stroke-dashoffset: 500;}
.checkMark svg {overflow: visible;}
.donut_single div[dir=ltr] {margin: 0 auto;}
.donut_single * {max-width: 100%;}
.progressTracker {-webkit-align-content: center;-ms-align-content: center;align-content: center;-webkit-align-items: center;-ms-align-items: center;align-items: center;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;justify-content: center;min-height: 65px;padding: 0 15px 15px;text-align: center;}
.progressTracker .container-login100-form-btn {margin: 0 auto;max-width: 220px;}

@-webkit-@keyframes draw {
  from {stroke-linecap: round;}
  to {stroke-linecap: round;stroke-dashoffset: 0;}
}
@-ms-@keyframes draw {
  from {stroke-linecap: round;}
  to {stroke-linecap: round;stroke-dashoffset: 0;}
}
@keyframes draw {
  from {stroke-linecap: round;}
  to {stroke-linecap: round;stroke-dashoffset: 0;}
}
#main {
    margin: 0 auto;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
    gap: 20px;
  }
  
  #main > nav {
    max-width: 28rem;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border-radius: 20px 20px 0 0;
  }
  
  #main > header {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 15px;
  }
  
  .bg-blue-color {
    background: #38b6ff;
  }
  
  .logo {
    width: 50px;
    aspect-ratio: 1;
  }
  
  #logoWrapper {
    gap: 10px;
  }
  
  #profile {
    font-size: x-large;
    color: black;
  }

  
  .button {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    background: var(--bg-icon-color);
    margin: 10px;
    border-radius: 25%;
    box-shadow: 0 5px 15px -5px var(--shadow-icon-color);
    color: var(--icon-color);
    overflow: hidden;
  }
  
  .button i {
    line-height: 90px;
    font-size: 2.3rem;
    transition: 0.2s linear;
  }
  
  .button:hover i {
    transform: scale(1.3);
    color: var(--hover-icon);
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: var(--bg-before);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  
  .button:hover::before {
    animation: anima 0.5s 1;
    top: -10%;
    left: -10%;
  }
  
  @keyframes anima {
    0% {
      top: 90%;
      left: -110%; 
    } 50% {
      top: -30%;
      left: 10%;
    } 100% {
      top: -10%;
      left: -10%;
    }
  }